
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <div id ="lightTime">
    Day or Night - Calculating ..
  </div>
  <div id = "buttons">
  	<button id ="button" class="buttons">On</button>
  	<button id ="off" class="buttons">Off</button>
    <label for="automatic">Autmoatic Light Detection</label>
    <input id="automatic" type="checkbox" name="automatic" checked>
  </div>
  <div id ="sliders">
    <input type="range" id="inputSlider" min="0" max="255" value="0" step="10">
    <span id="inputSliderValue"></span>
  </div>
  <div id="temperature">
    <h3>Temperature:</h3><span id="temperature-field"></span>
  </div>
  
  
  <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script> 
  <script type="text/javascript" src ="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src ="/javascripts/app.js"></script>

